@charset "UTF-8";

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    header input {
        width: 80%;
    }

    header img {
        margin-left: 15px;
    }

    #menu {
        right: 20px;
    }

    #conta {
        right: 100px;
    }

    #carrinho {
        right: 65px;
    }
}

/* COMPUTADOR */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    header {
        height: 80px;
        margin-bottom: 80px;
    }

    header li {
        display: inline-block;
        margin-right: 90px;
        color: var(--corvastoimperio);
        top: 0px;
    }

    #itens {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        margin-top: 79px;
        background-color: #ffffff77;
        width: 100vw;
        box-shadow: 0px 0px 5px rgba(145, 145, 145, 0.47);
        border-top: 1px solid var(--corvastoimperio);
        height: 50px;
    }
    
    header img {
        width: 90px;
        position: absolute;
        margin-left: 100px;
        margin-top: 3px;
    }

    header input {
        width: 50%;
        display: inline-block;
        position: relative;
        top: 17px;
        height: 45px;
    }

    #burguer {
        top: 20px;
        left: 50px;
        width: 1em;
    }

    #carrinho {
        top: 25px;
        right: 50px;
    }

    #conta {
        top: 25px;
    }

    header ul {
        display: block;
    }
}

/* TELAS GRANDES */
@media screen and (min-width: 1200px) {

    header {
        height: 80px;
        margin-bottom: 80px;
    }

    header img {
        width: 90px;
        position: absolute;
        margin-left: 150px;
        margin-top: 3px;
    }

    header li {
        display: inline-block;
        margin-right: 90px;
        color: var(--corvastoimperio);
        top: 0px;
    }

    li:hover {
        color: var(--corvastologo);
        background-color: rgb(235, 235, 235);
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 80px;
    }

    #itens {
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        margin-top: 79px;
        background-color: #ffffff77;
        width: 100vw;
        box-shadow: 0px 0px 5px rgba(145, 145, 145, 0.47);
        border-top: 1px solid var(--corvastoimperio);
        height: 50px;
        display: block;
    }

    header input {
        width: 50%;
        display: inline-block;
        position: relative;
        left: -3%;
        top: 17px;
        height: 45px;
    }

    #burguer {
        top: 17px;
        left: 40px;
        width: 1em;
    }


    #carrinho {
        top: 25px;
        right: 40px;
    }

    #conta {
        top: 24.4px;
        right: 85px;
    }
}
