@charset "UTF-8";

/* MOBILE FIRST */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    --corheader: #ffffff;
    --corartigo: #ffffff;
    --corfundo: #f4f4f4;
    --corvastoimperio: #33658A;
    --corvastologo: #DC602E;
}

/* HEADER */
header {
    position: relative;
    background-color: var(--corheader);
    box-shadow: 0px 0px 5px rgba(145, 145, 145, 0.47);
    height: 90px;
    margin-bottom: 40px;
}

header img {
    width: 100px;
    margin-left: 20px;
}

header form {
    text-align: center;
    position: relative;
    margin-top: -4px;
    height: 0px;
}

header input {
    width: 65%;
    height: 35px;
    background-color: #e6e6e6;
    border: 1px solid  rgba(0, 0, 0, 0);
    font-size: 1em;
    border-radius: 5px;
    position: relative;
    top: -40px;
    right: -50px;
}

#itens {
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    box-shadow: 0px 0px 7px rgba(161, 161, 161, 0.511);
}

header li {
    display: block;
    text-align: left;
    margin-left: 30px;
    line-height: 50px;
    top: 20px;
    position: relative;
}

header li:hover {
    color: var(--corvastologo)
}

 /* ICONS */
#burguer {
    position: absolute;
    margin-top: 5px;
    right: 30px;
    cursor: pointer;
    font-size: 2em;
    z-index: 9999;
    color: var(--corvastoimperio)
}

#burguer:hover {
    background-color: #e5e5e5;
    border-radius: 20px;
    color: var(--corvastologo)
}

#conta {
    position: absolute;
    right: 100px;
    top: 3.75px;
    font-size: 2.3em;
    cursor: pointer;
    color: var(--corvastoimperio)
}

#conta:hover {
    background-color: #e5e5e5;
    border-radius: 20px;
    color: var(--corvastologo)
}

#carrinho {
    position: absolute;
    right: 65px;
    top: 5px;
    font-size: 2em;
    cursor: pointer;
    color: var(--corvastoimperio)
}

#carrinho:hover {
    background-color: #e5e5e5;
    border-radius: 40px;
    color: var(--corvastologo)
    
}

/* MAIN HTML */
html {
    background-color: var(--corfundo);
    width: 100vw;
    
}

main {
    margin: auto;
    min-width: 350px;
    max-width: 1550px;
    font-size: 1em;
}

#vc {
    width: 50vw;
    max-width: 400px;
    display: block;
    margin: auto;
}

span {
    color: var(--corvastologo);
    font-weight: bolder;
}

main h1 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
}

article {
    padding: 20px;
    background-color: var(--corartigo);
    line-height: 1.3em;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px rgba(188, 188, 188, 0.423);
}

article img {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

/* FOOTER */
footer {
    background-color: var(--corheader);
    text-align: center;
    height: 80px;
}

footer li {
    margin-top: 15px;
    color: var(--corvastoimperio) ;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 40px;
    position: relative;
    left: 18px;
}

a {
    text-decoration: none;
    color: var(--corvastoimperio);
}

/* TESTE PÁGINA PRINCIPAL */
#alogo {
    background-color: #b6b6b6;
    position: relative;
    margin-top: -41px;
}

#logo {
    min-width: 500px;
    max-width: 1100px;
    padding: 10px;
    padding-left: 28%;
    padding-right: 28%;
    margin: auto;
    display: block;
}
