@charset "UTF-8";

/* Estilo all */

@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sevillana&display=swap');

* {
    margin: 0px;
    padding: 0px;
    --cor001: #f1f1f184;
    --cor002: #f4f4f4;
    --cor003: #DC602E;
    --cor004: #e1e1e171;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

div {
    width: 1550px;
    height: 11px;
    margin: auto;
}

header {
    background-color: var(--cor002);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.258);
    width: 100vw;
    min-width: 350px;
    height: 70px;
    margin-bottom: 50px;
}

div h1 a{
    display: inline-block;
    padding-top: 15px;
    margin-left: 70px;
    font-family:"Newsreader, Arial, Helvetica, sans-serif";
    font-weight: 400;
    position: absolute;
    top: 0%;
    color: black;
}

div ul {
    display: inline-block;
    height: 0px;
    position: absolute;
    margin-left: 230px;
    top: 2.6%;
}

div li {
    display: inline-block;
    font-weight: bolder;
    color: var(--cor003);
    font-family: "Merriweather", serif;
    font-size: 1.2em;
    margin-right: 20px;
}

div li a:hover {
    background-color: var(--cor004);
    padding: 10px 10px 21px 10px;
    box-shadow:0px -1px 6px rgba(136, 136, 136, 0.377);
    margin: -30px -10px 0px -10px;
    color: rgb(247, 117, 65);
    border-radius: 20px 20px 0px 0px;
    transition: 0.08s, .3s padding-top;
}

div li a:active {
    background-color: rgba(195, 195, 195, 0.293);
    color: var(--cor003);
}

div form input{
    width: 30%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1em;
    position: absolute;
    margin-top: 20px;
    right: 22.5%;
}

div img#menu {
    width: 30px;
    position: absolute;
    margin-left: 20px;
    top: 2.1%;
}

div img#menu:hover {
    width: 32px;
    display: block;
    padding: 10px 10px 19px 10px;
    box-shadow:0px -1px 6px rgba(136, 136, 136, 0.377);
    margin-top: -11px;
    margin-left: 9px;
    background-color: var(--cor004);
    border-radius: 20px 20px 0px 0px;
}

div img#menu:active {
    width: 31px;
    margin-left: 17.5px;
    margin-top: -2.5px;
    background-color: rgba(195, 195, 195, 0.293);
}

div img#conta {
    width: 32px;
    display: inline-block;
    position: absolute;
    right: 11vw;
    margin-top: 10px;
}

div img#conta:hover {
    margin: 0px -10px 0px 0px;
    background-color: var(--cor004);
    padding: 10px 10px 17px 10px;
    box-shadow:0px -1px 6px rgba(136, 136, 136, 0.377);
    border-radius: 20px 20px 0px 0px;
    transition: .1s;
}

div img#conta:active {
    margin: 0px -10px 0px 0px;
    background-color: rgba(195, 195, 195, 0.293);
}

div img#carrinho {
    width: 28px;
    position: absolute;
    right: 7.5%;
    margin-top: 1px;
}

div img#carrinho:hover {
    margin: -9px -10px 0px 0px;
    background-color: var(--cor004);
    padding: 10px 10px 17px 10px;
    box-shadow:0px -1px 6px rgba(136, 136, 136, 0.377);
    border-radius: 20px 20px 0px 0px;
    transition: .1s;
}

div img#carrinho:active {

    background-color: rgba(195, 195, 195, 0.293);
}

main {
    max-width: 1100px;
    margin: auto;
}

article {
    font-size: 1.1em;
    display: block;
    max-width: 1100px;
    margin: auto;
    background-color: var(--cor001);
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 30px;
    border-radius: 15px;
}

article h1 {
    margin-bottom: 20px;
    font-family: "Newsreader, Arial, Helvetica, sans-serif";
    color: #33658A;
    font-size: 2em;
}

.foto {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    width: 100%; 
    background-color: var(--cor002);
    border-radius: 15px;
}

footer {
    margin-top: 30px;
    background-color: var(--cor002);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.258);
    color: rgb(146, 146, 146);
}

footer li {
    display: inline-block;
    text-indent: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #DC602E;
}

footer ul {
    display: block;
    margin-left: -40px;
}

a {
    text-decoration: none;
    color: #DC602E;
}