@charset "UTF-8";

body {
    display: flex;
    flex-flow: row wrap;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: rgb(240, 240, 240);
    align-self: center;
    width: 350px;
    height: 600px;
    padding: 20px;
    order: 0;
}

input {
    background-color: white;
    border: 0px;
    padding: 10px;
    flex: auto;
    width: 200px;
}

#logo {
    width: 150px;
    display: block;
    margin: auto;
}

article {
    align-self: flex-end;
    order: 2;
}
