@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 98vw;
    height: 98vh;
}

body {
    display: block;
    background: #594933 url(imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

#home {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-41%,-61.1%);
    margin: auto;
    width: 305px;
    height: 659px;
    border-radius: 20px;
    z-index: 1;
    background-color: black;
}

#redes {
   
}

#iphone {
    background: url(imagens/iPhone.png) center center no-repeat fixed;
    background-size: 825px;
    width: 100vw;
    height: 96.1vh;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 2;
}