@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #594933;
}

body {
    background: url(imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 890px;
}

main {
    position: relative;
    height: 100vh;
}

section#iphone {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    background: url(imagens/iPhone.png) top center no-repeat fixed;
    background-size: 865px;
}

#black {
    background-color: black;
    transform: translate(0%, 12.5%);
    display: block;
    border-radius: 41px;
    margin: auto;
    width: 307px;
    height: 663px;
    
}

#notch {
    background-size: 90px;
    width: 90px;
    display: block;
    margin: auto;
    transform: translate(-0%, -1850%);
}

#bar {
    background-color: rgb(210, 210, 210);
    width: 130px;
    height: 5px;
    margin: auto;
    border-radius: 20px;
    transform: translate(-0%, 1400%);
}

#home {
    transform: translate(0%, 12.5%);
    display: block;
    border-radius: 41px;
    margin: auto;
    width: 307px;
    height: 663px;
}

#redes {
    background-color: rgba(169, 169, 169, 0.739);
    width: 320px;
    height: 80px;
    border-radius: 30px;
    margin: auto;
    transform: translate(0%, 130%);   
}

#redes img {
    width: 50px;
    margin: 15px 10px 10px 15px;
    border-radius: 14px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.591);
    transition: 0.1s;
}

#redes img:hover {
    width: 65px;
    margin: 0px 0px 0px 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.764);
    transform: translateY(-15%);
}

#redes img:active {
    width: 60px;
    margin: 0px 5px 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.68);
    transition: .1s;
}
