@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#insta {
   width: 305px;
   display: block;
   margin: auto;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 30px;
    background-color: rgba(141, 141, 141, 0.739);
    border-radius: 37px;
    width: 240px;
    margin: auto;
    transition: .1s;
}

a:hover {
    margin: auto;
    width: 245px;
    color: rgb(196, 196, 196);
    border-radius: 40px;
    transition: 1s;
}

a:active {
    background-color: rgba(68, 68, 68, 0.739);
    font-size: 15px;
    width: 240px;
    transition: .1s;
}